bin/
gen/
out/
*.iml
*.ipr
*.iws
testing/
.DS_Store
release
target
proguard_logs/
gen-external-apklibs/
.project
.settings
.classpath
project.properties
buildNumber.properties
atlassian-ide-plugin.xml
*.log
.idea
classes
default.properties
local.properties
.gradle
build
